.contentContainer {
  text-align: center;
  padding: 20px;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.searchBox {
  width: 20%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.noResults {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #777;
}

.noResults i {
  font-size: 3rem;
  color: #555;
  margin-bottom: 10px;
}

.message{
  font-weight: 500;
  color: #000;
}